.container {
	max-width: 728px;
}

.header {
	margin-bottom: 23px;
}
.username {
	font-size: 30px;
}

.user-info {
	margin-bottom: 45px;
}
.user-info__left {
	width: 230px;
	margin-right: 20px;
}
.avatar__img {
	width: 227px;
	height: 252px;
}

.title {
	margin-bottom: 15px;
	font-size: 30px;
}
.skills__item {
	margin-bottom: 18px;
}

.history__item {
	width: calc(100% - 20px);
	margin-bottom: 40px;
}